{% extends "base.html" %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CodeBlock - {% trans "privacy policy" %}{% endblock %}</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'blog_details.css' %}">
    {% block extra_head %}{% endblock %}
</head>

{% block content %}
    <div class="container min-vh-100 mb-5" style="margin-top: 100px">
        <h1 class="display-3 display-sm-1 fw-bold text-center text-shadow-lg text-dark mb-5">{% trans "privacy policy" %}</h1>
        <div class="row justify-content-center">
            <div class="card bg-transparent border-0">
                <div class="card-body">
                    <p class="card-text text-black">{{ privacy_policy.content | safe }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
